.top-section {
  background-color: #3367d6;
  display: flex;
  padding: 20px;
  width: 700px;
}
.browser-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
.input-image {
  background-color: #2850a7;
  border-color: white;
  border-width: 1px;
}
.search-icon {
  background-color: #2850a7;
  border-color: white;
  border-width: 1px;
  height: 20px;
}
.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
